
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  
  .card {
    @apply rounded-2xl p-6 shadow-card bg-slate-900;
  }

  
  .glass {
    @apply backdrop-blur-md bg-white/10 border border-white/10;
  }
}


html { scroll-behavior: smooth; }

::-webkit-scrollbar         { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb   { background: rgb(80 80 80 / 60%); border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: rgb(120 120 120 / 70%); }
